# Conexão com o banco de dados PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/remote_deployer?schema=public"

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Autenticação e Segurança
JWT_SECRET="defina_uma_chave_secreta_longa_e_aleatoria"
JWT_EXPIRES_IN="8h"
