DATABASE_URL="postgresql://usuario:senha@localhost:5432/remote_software_deployer?schema=public"

LDAP_URL="ldap://localhost:389"
LDAP_TEST_USER=""
LDAP_TEST_PASSWORD=""


LDAP_BIND_DN_TEMPLATE=""


JWT_SECRET=""
JWT_EXPIRES_IN="8h"
